*{
	outline: none;
}

html,body{
	/*height: 100%;*/
	margin: 0 !important;
	padding: 0px !important;
}
html{
	margin-top: 0px !important;
}
body{
	overflow-x: hidden;
	padding: 0px;
	margin:0px;
}

a{
	outline: none;
	-moz-outline-style:none;
}
a:active, a:hover{
	outline: none;
	-moz-outline-style:none;
	border:none;
}

:active, :focus{
	outline: none;
	-moz-outline-style:none;
}

li:active, li, li:hover{
	outline: none;
	border: none;
}
.navbar-inverse{
	opacity: 0.8;
	margin: 0px;
}
.navbar-inner{
	padding-right: 20px !important;
	padding-left: 10px !important;
}

#wpadminbar{
	display: none;
}
.nav{
	float: right;
}
.navbar-fixed-top{
	margin-bottom: 0px;
}
h1:before{
	content: "";
	border-color: transparent #000;
    border-style: solid;
    border-width: 0.16em 0 0.16em 0.19em;
    height: 0;
    width: 0;
    display: inline-block;
    margin:5px 10px 3px 10px;
}
h1:after{
	content: "";
	border-color: transparent #000 transparent transparent;
    border-style: solid;
    border-width: 0.16em 0.19em 0.16em 0;
    height: 0;
    width: 0;
    display: inline-block;
    margin:5px 10px 3px 10px;
}
#principal{
	width: 100%;
	top: 0px;
	position: static;
}
#galeria{
	margin-left:0;
	margin-right: 0; 
}

.wonderpluginslider,#wonderpluginslider-1{
	width: 100%;
}

.navbar-inverse > .container{
	width: 100%;
	padding: 0px;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
	margin: 0px !important;
}
.container{
	padding: 0px;
	margin: auto;
}
.nav-collapse{
	justify-content: center;
	display: flex;
	flex-flow: column;
}

.navbar .brand{
	/*padding: 10px;*/
	margin-left: 0;
	margin: auto;
}
#logo-img{
	max-width: 85%;
}
#logo-img, #logo2-img{
	margin:8px 20px 5px 30px;
}
#logo2-img{
	float: right;
	right: 0;
	position: relative;
}

#padre{
	display: flex;
	flex-flow: column;
	/*min-height: 100%;*/
}
ul, ol{
	margin:0px;
}
.nav > li{
	/*line-height: 50px;*/
	padding:10px 0px 0px 15px;
	line-height: 50px;

}
.nav > div{
	/*line-height: 50px;*/
	padding:10px 0 0px 15px;
	line-height: 50px;

}

.menuPr > div{
	padding: 0px 0px 0px 15px
}
ul.nav > li.current_page_item:after{
	content: "";
	display: flex;
	border-top: 3px solid #fff;
	margin-right: 17px;

}
.nav > div > div.current_page_item:after{
	content: "";
	display: flex;
	border-top: 3px solid #fff;
	margin-right: 17px;

}
.img_back, .img_backLook{
	width: 100%;
}
#menuCentral{
	display:flex;
}

.flexslider{
	margin: 0px !important;
}


.row{
	margin:0px;
}

#banner_lookbook{
	margin:10px 0px;
}

#armaPedido, #comoComprar, #loNuevo,#banner_lookbook{
	padding: 0px;
	cursor: pointer;
	
}
#armaPedido, #comoComprar, #loNuevo{
		width: 33.3%;
}
#comoComprar, #loNuevo, #armaPedido, #banner_lookbook{
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#armaPedido > div{
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#secciones,#perfil,#redes,#contacto_rap{
	display: flex;
	flex-flow: column;
	padding: 50px 0px 25px 10px;
	align-items: center;
}




/* para el footer*/

#footer{
	justify-content: center;
	display: flex;
	flex-flow: row;
	background-color: #212121;
	opacity: 1;
}
#footer > #footerDiv{
	width: 100%;

}

#menu_footer, #redes>div, #contacto_rap>form>div{
	padding-top: 50px;
	padding-left: 0px;
}
#menu_footer > li{
	padding: 5px 0px;
	list-style: none;
}
#menu_footer > li > a{
	list-style: none;
	text-decoration: none;
	color: #fff;
	opacity: 0.5;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 18px;
}

.footer_title{
	font-size: 19px;
	text-transform: uppercase;
	color:#fff;
	padding: 50px 25px 5px 0px;
	position: absolute;
	top: 0;
	border-bottom: 2px solid #000;
}


#redes > div, #perfil > div{
	padding-top: 50px;
	max-width: 200px;
}
#redes > div > p{
	font-size: 15px;
	color: #fff;
	opacity: 0.5;
	text-align: justify-all;
}
#iconos_redes{
	display: flex;
	flex-flow: row;
	padding-top: 10px;
}
#iconos_redes > div{
	padding-right: 15px;
}
#iconos_redes > div > img{
	cursor: pointer;
}

#contenidoForm{
	display: flex;
	flex-flow: column;
}
#contenidoForm > input,#contenidoForm > textarea{
	border:none;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	background-color: transparent;
	color:#fff;
	max-width: 220px;
}
#enviarRapido{
	display: flex;
	flex-flow: row;
	max-width: 220px;
	justify-content: flex-end;
	margin-top: 10px;
}
#enviarRapido > button{
	width: 80px;
	height: 30px;
	border:none;
	padding: 0px;
	margin: 0px;
}

#contacto_rap > div > form{
	padding-top: 50px;
}




/* PARA LA ANIMACION DE 'ARMA TU PEDIDO' */

.pressed{
	z-index: 1;
	-webkit-animation: pressedAnimation linear 1s;
	-o-animation: pressedAnimation linear 1s;
	animation: pressedAnimation .3s steps(10) forwards;

}

.hideDivs{
	z-index: -1;
	-webkit-animation: moveOtherDivs .3s steps(10) forwards;
	-o-animation: moveOtherDivs .3s steps(10) forwards;
	animation: moveOtherDivs .3s steps(10) forwards;
}

#contenedorDesplegable{
	
	left: -100%;
}

.showDesplegable{
	display:flex!important;
}

#pedidoDesplegable{
	display: flex;
	flex-flow: row;

}
#pedidoDesplegable > div > img{
	width: 100%;
}
#pedidoDesplegable > div{
	padding: 0px;
	position: relative;
}

#pedidoFront, #pedidoFull, #pedidoSudadera, #pedidoSpring{
	width: 20%;
	position: absolute;
	left: 0px;
	z-index: -10;
	cursor: pointer;
	
}

#pedidoFront > img, #pedidoFull > img, #pedidoSudadera > img, #pedidoSpring > img{
	width: 100%;
}
#pedidoDesplegable > div{
	padding: 0px;
	position: relative;
}
.mostrarPedido{
	
	-webkit-animation: mostrarPedido 1s steps(50) forwards;
	-o-animation: mostrarPedido 1s steps(50) forwards;
	animation: mostrarPedido 1s steps(50) forwards;
	display: flex;
}

#contedorMenuCentral, #menuCentral{
	position: relative;
}
#contenedorDesplegable{
	position: absolute;
	z-index: -1;
	top:0;
	float: right;
	max-width: 100%;

}


ul.nav > li  > a{
	font-family: 'Futura', Arial, sans-serif;
	font-size: 17px;
	padding: 0px;
	line-height: 60px;
}
.nav > div  > a, .nav > div > div  > a{
	font-family: 'Futura', Arial, sans-serif;
	font-size: 17px;
	padding: 0px;
	line-height: 60px;
	text-decoration: none;
	list-style: none;
	color: #fff;
}

.nav > div > a,.nav > div > div  > a{
	color: #9d9d9d;
}
.nav > div > a:hover, .nav > div > a:focus, .nav > div > div  > a:hover{
	color: #fff;
}

.nav{
	display: flex;
}

.nav > div{
	position: relative;
	display: block;
	float: left;
}


ul.nav > li  > a:after{
	content: "";
	height: 10px;
	border-left: 15px solid transparent;
	border-right: 3px solid #000;
	/*padding:0px 10px;
	border-bottom: 2px solid #fff;*/
}
.nav > div  > a:after, .nav > div > div  > a:after{
	content: "";
	height: 10px;
	border-left: 15px solid transparent;
	border-right: 3px solid #000;
	/*padding:0px 10px;
	border-bottom: 2px solid #fff;*/
}
ul.nav > li:after{
	content: "";
}

.cont-btn{
	display: flex !important;
	flex-flow: row;
}
.cont-btn > div{
	margin: auto;
	margin-right: 10px;
}

.loMasVendido{
	background-color: #fff;
	top:8px !important;
	padding: 10px 5px !important;
	color: #000 !important;
	font-weight: bold;
	border: none !important;
	font-family: "Abreu",Fallback, sans-serif !important;
	font-weight: normal;
}
.loMasVendido:after,.rebajas:after, .perfil:after, .carro:after, .contacto:after{
	content: "";
	border: none !important;
}

.rebajas{
	background-color: #ED0C5C;
	top:8px !important;
	padding: 10px 23px !important;
	color: #fff !important;
	font-weight: bold;
	border: none !important;
	font-family: "Abreu",Fallback, sans-serif !important;
	font-weight: normal;
}

.dudas:after{
	content: "";
	border:none !important;
}


.mostrarPedidoFront{
	-webkit-animation: subPedidosFront .3s steps(10) forwards;
	-o-animation: subPedidosFront .3s steps(10) forwards;
	animation: subPedidosFront .3s steps(10) forwards;
	position: relative;
	display: block;
}
.mostrarPedidoFull{
	-webkit-animation: subPedidosFull .3s steps(10) forwards;
	-o-animation: subPedidosFull .3s steps(10) forwards;
	animation: subPedidosFull .3s steps(10) forwards;
	position: relative;
	display: block;
}
.mostrarPedidoSudadera{
	-webkit-animation: subPedidosSudadera .3s steps(10) forwards;
	-o-animation: subPedidosSudadera .3s steps(10) forwards;
	animation: subPedidosSudadera .3s steps(10) forwards;
	position: relative;
	display: block;
}
.mostrarPedidoSpring{
	-webkit-animation: subPedidosSpring .3s steps(10) forwards;
	-o-animation: subPedidosSpring .3s steps(10) forwards;
	animation: subPedidosSpring .3s steps(10) forwards;
	position: relative;
	display: block;
}

.ocultarPedidoFront{
	-webkit-animation: ocultarFront .3s steps(10) forwards;
	-o-animation: ocultarFront .3s steps(10) forwards;
	animation: ocultarFront .3s steps(10) forwards;
}
.ocultarPedidoFull{
	-webkit-animation: ocultarFull .3s steps(10) forwards;
	-o-animation: ocultarFull .3s steps(10) forwards;
	animation: ocultarFull .3s steps(10) forwards;
}
.ocultarPedidoSudadera{
	-webkit-animation: ocultarSudadera .3s steps(10) forwards;
	-o-animation: ocultarSudadera .3s steps(10) forwards;
	animation: ocultarSudadera .3s steps(10) forwards;
}
.ocultarPedidoSpring{
	-webkit-animation: ocultarSpring .3s steps(10) forwards;
	-o-animation: ocultarSpring .3s steps(10) forwards;
	animation: ocultarSpring .3s steps(10) forwards;
}

@keyframes pressedAnimation {
  from{left:0%;}
  to{left:0%;}
	
}

@keyframes moveOtherDivs {
	from{right:0%;}
	to{right:-201%;}
}

@keyframes mostrarPedido{
	from{position: absolute; left: -200%;}
	to{position:absolute; left: 20%;
	}
}

@keyframes subPedidosFront{
	from{position: absolute; left: 0%}
	to{position: absolute; left:20%;}
}
@keyframes subPedidosFull{
	from{position: absolute; left: 0%}
	to{position: absolute; left:40%;}
}
@keyframes subPedidosSudadera{
	from{position: absolute; left: 0%}
	to{position: absolute; left:60%;}
}
@keyframes subPedidosSpring{
	from{position: absolute; left: 0%}
	to{position: absolute; left:80%;}
}

@keyframes ocultarFront{
	from{position:absolute; left: 20%;}
	to{position: absolute; left: 0%;}
}
@keyframes ocultarFull{
	from{position: absolute; left: 40%;}
	to{position: absolute; left: 0%;}
}
@keyframes ocultarSudadera{
	from{position: absolute; left: 60%;}
	to{position: absolute; left: 0%;}
}
@keyframes ocultarSpring{
	from{position: absolute;left: 80%;}
	to{position: absolute; left: 0%;}
}


body.wp-admin{
	background-color: #000 !important;

}



/* estilos para el contenedor de video index:*/

#myModal2 > .modal-dialog >.modal-content{
	background-color: transparent;
	max-width: 100%;
	margin-top: 200px;
	box-shadow: none;
	border: none;
}
#myModal2 > .modal-dialog > .modal-content > .modal-body{
	padding: 0px;
}

#myModal2 > .modal-dialog{
	max-width: 40%;
}
#myModal2 > .modal-dialog > .modal-content > .modal-header{
	border: none;
}

.fa-times-circle-o, .fa-times-circle{
	color: #fff;
	font-size: 30px !important;
}
.close{
	opacity: 1;
}


/*
	estilo para el dialogo desplegable cuando inicia sesion
*/

.arrow_box {
	position: static;
	background: #e2e91f;
	z-index: 9999;

}
.arrow_box h3{
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,.2);
	padding: 0px 10px;
	font-weight: bold;
}
.arrow_box:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(247, 255, 0, 0);
	border-bottom-color: #e2e91f;
	border-width: 10px;
	margin-left: -10px;
}

h1, h2,h3, ul.nav li, .nav > div{
	text-transform: uppercase;
}

ul.nav li a, footer > *{
	font-family: "Futura", Fallback, sans-serif;
}
.nav > div > a, footer > *{
	font-family: "Futura", Fallback, sans-serif;
}

.footer_title, .loMasVendido, .rebajas,{
	font-family: "Abreu", Fallback, sans-serif !important;
}

#armaPedido2:hover, #comoComprar:hover, #loNuevo:hover, #pedidoSpring:hover, #pedidoSudadera:hover, #pedidoFull:hover, #pedidoFront:hover{
	opacity: 0.5;
}




/*ESTILOS PARA CONTACTO*/

#info-y-contacto{
	margin-top: 30px;
	margin-left: 50px;
	display: flex;
	flex-flow: row;
}

#contenido-info > div#encuentranos, div#llamanos{
	display: flex;
	flex-flow: row;
	font-family: "Futura", Fallback, sans-serif;
	font-size: 22px;
	color:#babbc0;

}
div#llamanos{
	flex-flow: column;
}
div#llamanos > p > span{
	color: #323232;
	opacity: .7;
}
#contenido-info > h2, #contenido-contacto > h2{
	border-bottom: 3px solid;
	display: inline-block;
	padding:0px 10px 15px 10px;
	font-family: "Abreu", Fallback, sans-serif;
}	

#contenido-contacto > #form-contacto{
	display: flex;
	flex-flow: column;
	padding-right: 5%;
	align-items: flex-end;
	margin-top: 27px;
}
#form-contacto > p{
	font-family: "Futura", Fallback, sans-serif;
	font-size: 22px;
	color:#323232;
	font-style: italic;
}
#form-contacto > p > span > textarea, #form-contacto > p > span > input{
	border:none;
	border-bottom: 2px solid #c3c3c3;
	/*font-style: normal;
	color: rgba(63,63,63,.5);*/
}
#form-contacto > p > span > textarea{
	height: 100px;
}
#form-contacto > *, #form-contacto > p > span > input, #form-contacto > p > span > textarea{
	width: 100%;
}

#dir-1, #dir-2, #dir-3{
	width: 100%;
	padding: 30px;
	text-align: justify;
}

#dir-1{
	padding-left: 0px;
}
#dir-3{
	padding-right: 0px;
}
#horario{
	margin-top: 30px;
}
#chatVivo{
	color: #00beed !important;
}
#enviarContacto{
	float: right;
}

/*#contenido-info:after{
	content: "";
	border-left: 3px solid #c3c3c3;
	margin:auto 40px;
	height: 500px;
}*/

.separador{
	border-left: 3px solid #c3c3c3;
	margin:auto 40px;
}





/*ESTILOS PARA MI CUENTA O REGISTRO DE USUARIOS*/
div.u-column1 > h2, div.u-column2 > h2,div.u-column1 h3, div.u-column2 h3, .woocommerce-MyAccount-content h3{
	border-bottom: 3px solid;
	display: inline-block;
	padding:0px 10px 15px 10px;
	font-family: "Abreu", Fallback, sans-serif;
}

p input{
	border:none; 
	border-bottom: 2px solid #c3c3c3;
	line-height: 1.3 !important;
}

div.u-column1 form, div.u-column2 form{
	border:none !important;
	padding: 0px !important;

}
div.u-column1, div.u-column2{
	/*width: 40% !important;*/
}


/*div.u-column2{
	margin-left: 100px;
}*/

#customer_login{
	/*width: 70%;*/
	margin: auto;
	display: flex;
	justify-content: center;
}

.futura{
	font-family: "Futura", Fallback, sans-serif;
}
.abreu{
	font-family: "Abreu", Fallback, sans-serif;	
}

.normal22{
	font-size: 22px;
}

.italic22{
	font-size: 22px;
	font-style: italic;
}

.lost_password > a{
	text-decoration: none;
	color: #323232;
}
.lost_password{
	margin-top: 50px;
}

.toUppercase{
	text-transform: uppercase;
}

/*menu de mi cuenta*/
.woocommerce-MyAccount-navigation ul{
	list-style: none;
	display: flex;
	flex-flow: row;
	justify-content: center;
	background-color: #00BEEE;
}
.woocommerce-MyAccount-navigation{
	margin-bottom: 50px;
}
.woocommerce-MyAccount-navigation ul li{
	margin:auto 5px;
}
.woocommerce-MyAccount-navigation > ul > li.is-active{
	border-bottom:3px solid #446CB3;
}

.woocommerce-MyAccount-content{
	width: 80%;
	margin:auto;
}

#tituloForm{
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}



/*ESTILOS PARA LAS PREGUNTAS*/
#preguntas{
	width: 80%;
	margin:auto;
}
.pregunta{
	display: flex;
	flex-flow: row;
	margin-bottom: 30px;
}
.pregunta > p{
	margin-right: 50px;
}
.pregunta > i{
	margin:auto;
	cursor: pointer;
}
.pregunta > i:hover{
	opacity: .5;
}
.separador-horizontal{
	margin:0px auto 30px auto;
	border-bottom: 3px solid #000;
	opacity: .3;
	width: 50%;
}

.respuesta{
	color:#babbc0;
	margin-bottom: 30px;
}

.fa-plus{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.fa-minus{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}




/*NUEVO MENU*/

div.menuPr{
	display: flex;
	float: right;
}
.nav{
	justify-content: flex-end;
	align-items: center;
	display: flex;
	width: 100%;
	flex-flow: row;
}
div.navbar-header{
	display: flex;
	width: 100%;
}


/*PARA LAPTOPS DE RESOLUCION 1200 - 1600*/
/*@media screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1600px) { 
  	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

}*/

@media (min-width: 815px)
  and (max-width: 1600px),
  (min-device-width: 815px) 
  and (max-device-width: 1600px) 
   { 

   	.navbar{
   		position: fixed !important;
   	}
  	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }



    /*para menu desplegable*/
    .menuPr{
    	flex-flow: column;
    	width: 100% !important;
    	position: absolute !important;
    	left: 0 !important;
    	padding: 0px !important;
    	top:70px;
		justify-content: center;
		align-items: center;
		background-color: #222;
		opacity: .99;
    	z-index: 2;
    	/*display: none;*/
    }
    .menuPr > div  > a:after, .menuPr > div > div  > a:after{
    	content: "";
    	display: none;
    }
    .menuPr > div{
    	width: 30%;
    	text-align: center;
    	border-bottom: 2px solid rgba(0,0,0,.5);
    }
    .menuPr > div{
    	width: 30%;
    	text-align: center;
    	border-bottom: 2px solid rgba(0,0,0,.5);
    }
    .nav > div > div.current_page_item::after {
    	margin: 0px 0px 0px -15px;
    }
	button.navbar-toggle{
		margin:auto 0px auto 20px;
	}
	#menuCentral{
		flex-flow: column;
	}

	#armaPedido, #comoComprar, #loNuevo{
		width: 100%;
		height: 200px;
		overflow:hidden;
		position: relative;
	}
	#armaPedido2{
		width: 100%;
		height: 100%;
		position: relative;
	}

	.img_back{
		margin:auto;
		position: absolute;
		display: flex;
		top: -100%;
		bottom: -100%;
		width: 100%;
	}


}


@media (max-width: 815px),
(max-device-width: 815px) {

  	.navbar{
   		position: fixed !important;
   	}
  	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }



    /*para menu desplegable*/
    .menuPr{
    	flex-flow: column;
    	width: 50% !important;
    	position: absolute !important;
    	left: 0 !important;
    	padding: 0px !important;
    	top:70px;
		justify-content: center;
		align-items: center;
		background-color: #222;
		opacity: .99;
    	z-index: 2;
    	/*display: none;*/
    }
    .menuPr > div  > a:after, .menuPr > div > div  > a:after{
    	content: "";
    	display: none;
    }
    .menuPr > div{
    	width: 100%;
    	text-align: center;
    	border-bottom: 2px solid rgba(0,0,0,.5);
    }
    .navbar-inverse{
    	opacity: 1;
    }

    .nav > div > div.current_page_item::after {
    	margin: 0px 0px 0px -15px;
    }
	button.navbar-toggle{
		margin:auto 0px auto 20px;
	}
	#menuCentral{
		flex-flow: column;
	}

	#armaPedido, #comoComprar, #loNuevo{
		width: 100%;
		height: 150px;
		overflow:hidden;
		position: relative;
	}
	#armaPedido2{
		width: 100%;
		height: 100%;
		position: relative;
	}

	.img_back{
		margin:auto;
		position: absolute;
		display: flex;
		top: -100%;
		bottom: -100%;
		width: 100%;
	}
	
	#menuCentral{
		flex-flow: column;
	}


	#botonMenu{
		margin:auto;
	}
	
	.cont-btn{
		width: 100% !important;
		flex-flow: column;
		padding: 0px !important;
	}
	.cont-btn > div{
		width: 100%;
		display: flex;
	}
	.cont-btn > div > a{
		width: 100%;
		padding: 5px 5px;
	}

	#logo-img{
		max-width: 100%;
	}
	.nav{
		width: auto;
		margin:auto;
	}
	#preguntas{
		width: 90% !important;
	}
	.separador-horizontal{
		width: 100% !important;
	}

}



/*PARA ARMA PEDIDO, CLASES EXTRAS QUE SE PONEN CON EVENTOS*/

.hide{

	display: none;
}

.pedidoRow{
	width: 100% !important;
	display: flex;
	-webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.pedido-subDiv{
	width: 20% !important;
	-webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}