/*

*/
@import url('css/bootstrap.css'); 
@import url('css/bootstrap-responsive.css'); 
@import url('css/estilos.css');
@import url('css/estiloTienda.css');


@font-face {

font-family: "FontAwesome";

src: url('fonts/fontawesome/fontawesome-webfont.eot');

src: url('fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('eot'),

url('fonts/fontawesome/fontawesome-webfont.woff') format('woff'),

url('fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'),

url('fonts/fontawesome/fontawesome-webfont.svg#FontAwesome') format('svg');

font-weight: normal;

font-style: normal;

-webkit-font-smoothing: antialiased;

}

@font-face{
	font-family: "Futura";
	src: url('fonts/futura/futura_medium.eot');
	src: url('fonts/futura/futura_medium.eot?#iefix') format('eot'),
	url('fonts/futura/futura_medium.woff') format('woff'),
	url('fonts/futura/futura_medium.woff2') format('woff2'),
	url('fonts/futura/futura_medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;

}
@font-face{
	font-family: "Abreu";
	src: url('fonts/abreu/rui_abreu.eot');
	src: url('fonts/abreu/rui_abreu.eot?#iefix') format('eot'),
	url('fonts/abreu/rui_abreu.woff') format('woff'),
	url('fonts/abreu/rui_abreu.woff2') format('woff2'),
	url('fonts/abreu/rui_abreu.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;

}
.fa{
	font-size: 23px;
}


/*#menu {
background-color:#ccc;
margin: 0;
padding: 0;
}

#menu ul {
margin-top:0px;
margin-right: 14px;
margin-left:20px;
float: right;
list-style: none;
}

#menu ul li {
-moz-border-radius-bottomleft: 6px;
-khtml-border-bottom-left-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
border-bottom-left-radius: 6px;
-moz-border-radius-bottomright: 6px;
-khtml-border-bottom-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
border-bottom-right-radius: 6px;
float: left;
}
#menu ul li a {
font-color:#000;
font-weight: normal;
display: block;
line-height: 30px;
padding: 0 10px;
font-size: 12px;
text-decoration:none;
border-bottom: none;
}

#menu ul li a:hover {
background: #000;
color: #fff;
-moz-border-radius-bottomleft: 6px;
-khtml-border-bottom-left-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
border-bottom-left-radius: 6px;
-moz-border-radius-bottomright: 6px;
-khtml-border-bottom-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
border-bottom-right-radius: 6px;
}
#menu ul li a:visted {color: #000;}

#menu .menu-item {
font-color: #000;
background: #fff;
margin-left:8px;
filter:alpha(opacity=60);
-moz-opacity:.60;
opacity:.60;
}

#menu .current-menu-item, #menu li .current-menu-item {
color: #fff;
background: #000;
margin-left:8px;
}

#menu .current-menu-item a{
color: #fff;
}

#menu .children a{
font-size: 10px;
}*/




